{% extends 'main/base.html' %}
{% block title %}Divalto Connect - Articles{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid my-5">
  <div class="row">
    <div class="col-md-8 offset-md-3">
      <form class="d-flex mb-3" method="get">
        <div class="form-group me-3">

          <label for="search">Search by name:</label>
          <input type="text" id="search" name="q" value="{{ request.GET.q }}" class="form-control">
        </div>
        <button type="submit" class="btn btn-warning">Search</button>
      </form>

      <div class="table-responsive" style="display: flex; justify-content: center;">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Article ID</th>
              <th>Article Label</th>
              <th>Price</th>
              <th>Department</th>
              <th>Dimensions</th>
              <th>Dimension Unit</th>
              <th>Fournisseur</th>
              <th>Stock Quantity</th>
              <th>Last Entry</th>
            </tr>
          </thead>
          <tbody>
            {% for row in table_data %}
            <tr>
              <td>{{ row.article_id }}</td>
              <td>{{ row.article_label }}</td>
              <td>{{ row.price }}</td>
              <td>{{ row.department }}</td>
              <td>{{ row.dimensions }}</td>
              <td>{{ row.dimension_unit }}</td>
              <td>{{ row.fournisseur }}</td>
              <td>{{ row.stock }}</td>
              <td>{{ row.last_entry }}</td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="8">No data available.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
