{% extends 'main/base.html' %}
{% block title %}Divalto Connect - Articles{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Article List</h1>
        <table>
            <thead>
                <tr>
                    <th>Article ID</th>
                    <th>Stock Quantity</th>
                    <th>Last Entry</th>
                    <th>Article Label</th>
                    <th>Supplier</th>
                    <th>Department</th>
                    <th>Price</th>
                    <th>Height</th>
                    <th>Width</th>
                    <th>Length</th>
                    <th>Dimension Unit</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                <tr>
                    <td>{{ article.article_id }}</td>
                    <td>{{ article.stock_quantity }}</td>
                    <td>{{ article.last_entry }}</td>
                    <td>{{ article.main_article_metadata.article_label }}</td>
                    <td>{{ article.main_article_metadata.supplier }}</td>
                    <td>{{ article.main_article_metadata.department }}</td>
                    <td>{{ article.main_article_metadata.price }}</td>
                    <td>{{ article.main_article_metadata.height }}</td>
                    <td>{{ article.main_article_metadata.width }}</td>
                    <td>{{ article.main_article_metadata.length }}</td>
                    <td>{{ article.main_article_metadata.dimension_unit }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}