{% extends 'main/base.html' %}
{% block title %}Divalto Connect - Articles{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
  <h1>Stock Quantity Plot</h1>
  <form method="post" action="{% url 'plots' %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="article_id">Article ID:</label>
      <input type="number" class="form-control" id="article_id" name="article_id" required>
    </div>
    <div class="form-group">
      <label for="start_date">Start Date:</label>
      <input type="date" class="form-control" id="start_date" name="start_date" required>
    </div>
    <div class="form-group">
      <label for="end_date">End Date:</label>
      <input type="date" class="form-control" id="end_date" name="end_date" required>
    </div>
    <div></div>
    <button type="submit" class="btn btn-primary">Plot</button>
  </form>
  {% if plot_stock_quantities %}
  <div>
    <img src="{{ plot_stock_quantities.url }}" alt="Plot">
  </div>
  {% endif %}
{% endblock %}

