{% extends 'main/base.html' %}
{% block title %}Divalto Connect - About{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
	<h1 class="my-4">Diva<span class="text-warning">l</span>to Connect Project</h1>
	<p>The goal of the project is to obtain easily information from Divalto database into a new datastore. In this new datastore,
		a new database structure that allows to access to the quantity of stock of each part for each day is defined.
		In Divalto Original, it’s difficult to know the level of stock for a special day. This particular solution, called <strong>Divalto Connect</strong>
		gives to the user 2 key abilities:
		<ol>
			<li>Find the desired article, either by name, unique id, department, fournisseur or even per dimensions.</li>
			<li>Plot the graph with starting and ending date, searching with article unique ID</li>
		</ol>
		The application is built with this 3 components:
		<ol>
			<li>An ETL to transform data from the Original Divalto Database: Talend Open Studio.</li>
			<li>A Datastore with MySQL Database Engine to store the data extracted</li>
			<li>An user-centered interface allowing to access to the information: Python/Django</li>
		</ol>
	<p>
		The retrieved data is the totality of data existing in company ‘998 – Papyrus (Demo)’.
		The application is secure, using only the Login and Password distributed by ECAM Strasbourg-Europe.
		Project Developers are the Gr2S4 BITARD Sam, DUMANYAN Valéry, HAAS Corentin BOUHLEL Mohamed, FERREIRA Nelson, LAGARDE
		Yann, LEBOEUF Manon, SALAMBEAU Dimitri, VICQUENAULT QUESTE Rodolphe
	</p>
</div>
{% endblock %}